@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wagmi-bg text-wagmi-text;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}
